openapi: 3.0.3
info:
  title: STEM Toys E-Commerce User Management API
  description: |
    Comprehensive User Management API for the STEM Toys Romanian E-Commerce platform.
    Features multi-tenant architecture, GDPR compliance, social authentication,
    advanced security, and Romanian market compliance.
  version: 1.0.0
  contact:
    name: STEM Toys Development Team
    email: dev@stemtoys.ro
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://stemtoys.ro/api
    description: Production server
  - url: http://localhost:3000/api
    description: Development server

security:
  - BearerAuth: []
  - ApiKeyAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token for authenticated requests
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for administrative access

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: Unique user identifier
          example: 'clh8k9x7q0000abcdefghijk'
        name:
          type: string
          description: User's full name
          example: 'Ion Popescu'
        email:
          type: string
          format: email
          description: User's email address
          example: 'ion.popescu@email.ro'
        phone:
          type: string
          description: User's phone number
          example: '+40712345678'
        role:
          type: string
          enum: [CUSTOMER, ADMIN, SUPPLIER]
          description: User role in the system
          default: CUSTOMER
        emailVerified:
          type: string
          format: date-time
          description: Email verification timestamp
        isActive:
          type: boolean
          description: Whether the user account is active
          default: false
        createdAt:
          type: string
          format: date-time
          description: Account creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last account update timestamp

        # Multi-tenant fields
        tenantId:
          type: string
          description: Tenant identifier for multi-tenant architecture
        organizationId:
          type: string
          description: Organization identifier for B2B

        # GDPR Compliance fields
        consentGiven:
          type: boolean
          description: Whether user has given consent for data processing
          default: false
        consentDate:
          type: string
          format: date-time
          description: Consent timestamp
        dataRetention:
          type: object
          description: Data retention policies and schedules
        anonymized:
          type: boolean
          description: Whether user data has been anonymized
          default: false

        # Romanian Market Compliance fields
        cui:
          type: string
          description: Romanian tax identification number (CUI)
          example: 'RO12345678'
        cnp:
          type: string
          description: Romanian personal numerical code (CNP)
          example: '1234567890123'
        serieCi:
          type: string
          description: Romanian ID card series
          example: 'XR'
        numarCi:
          type: string
          description: Romanian ID card number
          example: '123456'
        eliberatDe:
          type: string
          description: Romanian ID card issuer
          example: 'Politia Capitalei'
        eliberatLa:
          type: string
          format: date
          description: Romanian ID card issue date
        valabilPanaLa:
          type: string
          format: date
          description: Romanian ID card expiry date
        adresaDomiciliu:
          type: object
          description: Romanian registered address
        codPostal:
          type: string
          description: Romanian postal code
          example: '010101'
        judet:
          type: string
          description: Romanian county
          example: 'București'
        localitate:
          type: string
          description: Romanian locality
          example: 'București'
        isRomanianResident:
          type: boolean
          description: Whether user is a Romanian resident
          default: false

        # Security fields
        lastLoginAt:
          type: string
          format: date-time
          description: Last successful login timestamp
        failedLoginAttempts:
          type: integer
          description: Number of failed login attempts
          default: 0
        accountLocked:
          type: boolean
          description: Whether account is locked due to security
          default: false
        twoFactorEnabled:
          type: boolean
          description: Whether 2FA is enabled
          default: false

        # Segmentation fields
        segment:
          type: string
          enum: [NEW, ACTIVE, VIP, INACTIVE, CHURNED]
          description: User segment for marketing
          default: NEW
        tags:
          type: array
          items:
            type: string
          description: Flexible categorization tags
        preferences:
          type: object
          description: User settings and marketing preferences
        lifecycleStage:
          type: string
          enum: [AWARENESS, CONSIDERATION, PURCHASE, RETENTION]
          description: Customer lifecycle stage
          default: AWARENESS
        churnRiskScore:
          type: number
          minimum: 0
          maximum: 100
          description: Churn prediction score

        # Behavioral Analytics
        totalPageViews:
          type: integer
          description: Total page views across sessions
          default: 0
        totalTimeSpent:
          type: integer
          description: Total time spent in minutes
          default: 0
        avgSessionDuration:
          type: number
          description: Average session duration in minutes
        lastActivityAt:
          type: string
          format: date-time
          description: Last user activity timestamp
        purchaseFrequency:
          type: number
          description: Average purchases per month
        avgOrderValue:
          type: number
          description: Average order value
        lifetimeValue:
          type: number
          description: Customer lifetime value
          default: 0
        referralCount:
          type: integer
          description: Number of referrals made
          default: 0
        socialEngagementScore:
          type: number
          description: Social media engagement score
        recommendationClicks:
          type: integer
          description: Product recommendation clicks
          default: 0
        wishlistSize:
          type: integer
          description: Current wishlist size
          default: 0

        # Romanian Market Intelligence
        regionalPreference:
          type: string
          description: Preferred Romanian region
          example: 'Transylvania'
        seasonalPatterns:
          type: object
          description: Seasonal buying patterns for Romanian holidays
        productCategoryPrefs:
          type: array
          items:
            type: string
          description: Preferred product categories
        ageGroup:
          type: string
          description: Age group
          example: '26-35'
        educationLevel:
          type: string
          description: Education level for demographic analysis
        paymentMethodPrefs:
          type: array
          items:
            type: string
          description: Preferred payment methods
        deliveryTimeExpectation:
          type: integer
          description: Expected delivery time in days
          default: 3
        priceSensitivity:
          type: number
          minimum: 0
          maximum: 1
          description: Price sensitivity score
          default: 0.5
        brandLoyaltyScore:
          type: number
          minimum: 0
          maximum: 100
          description: Brand loyalty score

        # Scalability fields
        shardId:
          type: string
          description: Database shard identifier
        replicaId:
          type: string
          description: Read replica identifier
        cacheKey:
          type: string
          description: Redis cache key
        dataArchiveStatus:
          type: string
          enum: [ACTIVE, ARCHIVED, DELETED]
          description: Data archive status
          default: ACTIVE

    RegisterRequest:
      type: object
      required:
        - name
        - email
        - password
      properties:
        name:
          type: string
          minLength: 1
          description: User's full name
          example: 'Maria Ionescu'
        email:
          type: string
          format: email
          description: User's email address
          example: 'maria.ionescu@email.ro'
        password:
          type: string
          minLength: 8
          description: User's password (minimum 8 characters)
          example: 'SecurePass123'

    ProfileUpdateRequest:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
          minLength: 2
          description: Updated full name
          example: 'Maria Popescu'
        email:
          type: string
          format: email
          description: Updated email address
          example: 'maria.popescu@email.ro'
        newPassword:
          type: string
          minLength: 8
          pattern: '^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])'
          description: New password (optional, must contain uppercase, lowercase, and number)
          example: 'NewSecurePass123'

    Address:
      type: object
      required:
        - name
        - fullName
        - addressLine1
        - city
        - state
        - postalCode
        - country
        - phone
      properties:
        id:
          type: string
          description: Address identifier
        name:
          type: string
          description: Address nickname
          example: 'Home'
        fullName:
          type: string
          description: Full name for this address
          example: 'Maria Popescu'
        addressLine1:
          type: string
          description: Primary address line
          example: 'Strada Victoriei 10'
        addressLine2:
          type: string
          description: Secondary address line (optional)
          example: 'Apartament 5'
        city:
          type: string
          description: City name
          example: 'București'
        state:
          type: string
          description: State/Province
          example: 'București'
        postalCode:
          type: string
          description: Postal code
          example: '010101'
        country:
          type: string
          description: Country code (ISO 3166-1 alpha-2)
          example: 'RO'
        phone:
          type: string
          description: Phone number for this address
          example: '+40712345678'
        isDefault:
          type: boolean
          description: Whether this is the default address
          default: false

        # Romanian-specific fields
        judet:
          type: string
          description: Romanian county
          example: 'București'
        localitate:
          type: string
          description: Romanian locality
          example: 'Sector 1'
        codPostal:
          type: string
          description: Romanian postal code
          example: '010101'
        sector:
          type: string
          description: Bucharest sector (1-6)
          example: '1'

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: 'Invalid email address'
        code:
          type: string
          description: Error code for programmatic handling
          example: 'VALIDATION_ERROR'

    ApiResponse:
      type: object
      properties:
        message:
          type: string
          description: Success message
          example: 'Operation completed successfully'
        data:
          type: object
          description: Response data payload

paths:
  /auth/register:
    post:
      summary: Register a new user account
      description: |
        Creates a new user account with email verification.
        Rate limited to 5 requests per IP per 15 minutes.
        Sends welcome email and verification email automatically.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Registration successful. Please check your email to verify your account.'
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      email:
                        type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/verify:
    post:
      summary: Verify user email
      description: Verifies user email address using verification token
      tags:
        - Authentication
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Email verification token
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
          description: User email address
      responses:
        '200':
          description: Email verified successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Email verified successfully'
        '400':
          description: Invalid token or email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/forgot-password:
    post:
      summary: Request password reset
      description: Sends password reset email to user
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: User email address
                  example: 'user@email.ro'
      responses:
        '200':
          description: Password reset email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Password reset email sent'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/reset-password:
    post:
      summary: Reset user password
      description: Resets user password using reset token
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - password
              properties:
                token:
                  type: string
                  description: Password reset token
                password:
                  type: string
                  minLength: 8
                  description: New password
                  example: 'NewSecurePass123'
      responses:
        '200':
          description: Password reset successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Password reset successfully'
        '400':
          description: Invalid token or password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/session:
    get:
      summary: Get current session
      description: Returns current user session information
      tags:
        - Authentication
      responses:
        '200':
          description: Session information
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /account/profile:
    get:
      summary: Get user profile
      description: Returns the current user's profile information
      tags:
        - Account
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update user profile
      description: Updates the current user's profile information
      tags:
        - Account
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Profile updated successfully'
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /account/addresses:
    get:
      summary: Get user addresses
      description: Returns all addresses for the current user
      tags:
        - Account
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of user addresses
          content:
            application/json:
              schema:
                type: object
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Address'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Create new address
      description: Creates a new address for the current user
      tags:
        - Account
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
      responses:
        '201':
          description: Address created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Address created successfully'
                  address:
                    $ref: '#/components/schemas/Address'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /account/addresses/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Address identifier

    get:
      summary: Get specific address
      description: Returns a specific address by ID
      tags:
        - Account
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Address information
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/Address'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Address not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update address
      description: Updates a specific address
      tags:
        - Account
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
      responses:
        '200':
          description: Address updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Address updated successfully'
                  address:
                    $ref: '#/components/schemas/Address'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Address not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete address
      description: Deletes a specific address
      tags:
        - Account
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Address deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Address deleted successfully'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Address not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /account/orders:
    get:
      summary: Get user orders
      description: Returns all orders for the current user with optional filtering
      tags:
        - Account
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of orders per page
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, PROCESSING, SHIPPED, DELIVERED, CANCELLED, RETURNED]
          description: Filter orders by status
      responses:
        '200':
          description: List of user orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      type: object
                      description: Order object (detailed schema in orders API)
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      pages:
                        type: integer
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /account/wishlist:
    get:
      summary: Get user wishlist
      description: Returns all products in the user's wishlist
      tags:
        - Account
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User wishlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  wishlist:
                    type: array
                    items:
                      type: object
                      description: Product object (detailed schema in products API)
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Add product to wishlist
      description: Adds a product to the user's wishlist
      tags:
        - Account
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - productId
              properties:
                productId:
                  type: string
                  description: Product identifier
                  example: 'clh8k9x7q0000abcdefghijk'
      responses:
        '200':
          description: Product added to wishlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Product added to wishlist'
        '400':
          description: Invalid product ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /account/dashboard/stats:
    get:
      summary: Get user dashboard statistics
      description: Returns personalized dashboard statistics for the current user
      tags:
        - Account
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User dashboard statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  stats:
                    type: object
                    properties:
                      totalOrders:
                        type: integer
                        example: 12
                      totalSpent:
                        type: number
                        example: 2450.50
                      avgOrderValue:
                        type: number
                        example: 204.21
                      wishlistItems:
                        type: integer
                        example: 8
                      lifetimeValue:
                        type: number
                        example: 2450.50
                      segment:
                        type: string
                        example: 'VIP'
                      churnRisk:
                        type: number
                        example: 15.5
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /account/dashboard/activities:
    get:
      summary: Get user activity feed
      description: Returns recent user activities and events
      tags:
        - Account
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
          description: Number of activities to return
      responses:
        '200':
          description: User activity feed
          content:
            application/json:
              schema:
                type: object
                properties:
                  activities:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                            [
                              ORDER_PLACED,
                              PAYMENT_MADE,
                              ADDRESS_ADDED,
                              PROFILE_UPDATED,
                              LOGIN,
                              LOGOUT,
                            ]
                        description:
                          type: string
                          example: 'Placed order #12345'
                        timestamp:
                          type: string
                          format: date-time
                        metadata:
                          type: object
                          description: Additional activity-specific data
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /consent:
    post:
      summary: Update user consent
      description: |
        Updates user consent for data processing according to GDPR requirements.
        All consent changes are logged for audit purposes.
      tags:
        - GDPR Compliance
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - consentType
                - consentGiven
              properties:
                consentType:
                  type: string
                  enum: [marketing, essential, analytics, personalization]
                  description: Type of consent being updated
                  example: 'marketing'
                consentGiven:
                  type: boolean
                  description: Whether consent is given or withdrawn
                  example: true
                validUntil:
                  type: string
                  format: date-time
                  description: Optional expiry date for time-limited consent
      responses:
        '200':
          description: Consent updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Consent updated successfully'
                  consentLog:
                    type: object
                    properties:
                      id:
                        type: string
                      consentType:
                        type: string
                      consentGiven:
                        type: boolean
                      timestamp:
                        type: string
                        format: date-time
        '400':
          description: Invalid consent data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /gdpr/data-export:
    post:
      summary: Request data export
      description: |
        Initiates GDPR data portability request. User data will be exported
        and made available for download within 30 days.
      tags:
        - GDPR Compliance
      security:
        - BearerAuth: []
      responses:
        '202':
          description: Data export request accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Data export request submitted. You will receive an email when ready.'
                  requestId:
                    type: string
                    description: Request tracking identifier
                    example: 'gdpr-export-12345'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /gdpr/data-deletion:
    post:
      summary: Request account deletion
      description: |
        Initiates GDPR "right to be forgotten" request. Account will be
        anonymized or deleted according to data retention policies.
      tags:
        - GDPR Compliance
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - confirmation
              properties:
                confirmation:
                  type: string
                  enum: ['DELETE_MY_DATA']
                  description: Confirmation phrase to prevent accidental deletion
      responses:
        '202':
          description: Data deletion request accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Data deletion request submitted. Processing may take up to 30 days.'
                  requestId:
                    type: string
                    description: Request tracking identifier
        '400':
          description: Invalid confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /two-factor/setup:
    post:
      summary: Setup two-factor authentication
      description: Initiates 2FA setup and returns QR code for authenticator app
      tags:
        - Security
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 2FA setup initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: '2FA setup initiated'
                  secret:
                    type: string
                    description: TOTP secret for manual entry
                  qrCode:
                    type: string
                    description: Base64 encoded QR code image
                  backupCodes:
                    type: array
                    items:
                      type: string
                    description: Backup codes for account recovery
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /two-factor/verify:
    post:
      summary: Verify two-factor authentication
      description: Verifies 2FA token and enables 2FA for the account
      tags:
        - Security
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: 6-digit TOTP token from authenticator app
                  example: '123456'
      responses:
        '200':
          description: 2FA enabled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Two-factor authentication enabled successfully'
        '400':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /two-factor/disable:
    post:
      summary: Disable two-factor authentication
      description: Disables 2FA for the account (requires current password)
      tags:
        - Security
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
                  description: Current account password for verification
      responses:
        '200':
          description: 2FA disabled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Two-factor authentication disabled successfully'
        '400':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
